table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }


  .header-row{
    background-color: black;
  }


  .small-input-field {
    width: 300px; 
  }